<!DOCTYPE html>
<html>
  <head>
    <title>Qwiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Wikis", wikis_path %></li>
        <% if current_user %>
          <li class="pull-right"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="pull-right"><%= link_to "Sign up", new_user_registration_path %></li>
          <li class="pull-right"><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

     
    <%= yield %>

  </body>
</html>
